@font-face {
    font-family: 'Fraunces 9pt';
    src: url('../fonts/Fraunces9pt-Bold.woff2') format('woff2'),
        url('../fonts/Fraunces9pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
}
 ul , ol{
  margin: 0;
  padding: 0;
  list-style: none;
 }
 a{
    text-decoration: none;
 }
 body{
   margin: 0;
   padding: 0;
   font-family: 'Barlow', sans-serif;
   font-family: 'Fraunces', serif;
 }
 .container{
   width: 1280px; 
   margin: 0 auto;
   padding: 0 15px;
 }

 /*header*/
 .header-wrapper{
    display: flex;
    align-items: center;
 }
 .header-box{
    width: 410px;
    margin-left: auto;
 }
 .nav-list{
    display: flex;
 }
 .nav-list-item{
    padding: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
 }
 .nav__link{
   color: #83888F;
 }
 .nav-list-item:nth-child(1){
    padding-left: 0;
 }

 /*intro section*/
 .intro{
    margin-top: 20px;
 }
 .intro-wrapper{
    background-image: url("../images/Bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .intro-box{
    padding: 50px ;
    color: #fff;
 }
 .intro-box-title{
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7; 
 }
 .intro-box-desc{
    width: 445px ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8; 
    margin:36px 0 56px;
 }
 .intro-box-link{
    background: #66D2CF;
    border-radius: 6px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    padding: 15px 31px;
 }

 /*our collection*/
 .our-collection{
    margin-top: 100px;
 }
 .collection-wrapper{
    background-image: url("../images/collectiom-main.svg");
    background-repeat: no-repeat;
    background-position: top 0 center;
 }
 .collection-list{
    display: flex;
    align-items: center;
    padding-top: 126px ;
 }
 .collection-list-item{
  margin: 0 15px 0 30px;
 }
 .collection-item-title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B; 
 }
 .collection-text{
    width:255px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center; 
    color: #333D4B; 
 }
 
 /*about-us*/
 .about-us{
    margin-top: 188px;
 }
 .about-us-wrapper{
    background-color: #293039;
    width: 1280px;
    height: 600px;
 }
 .about-us-title{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    padding-top: 110px;
 }
 .about-us-desc{
    padding: 32px 370px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
 }
 .about-us-list{
   margin-bottom: 50px; 
   margin-left: 70px;
    top: 100%;
    left: 5%;
    bottom:0 ;
    display: flex;
    align-items: center;
 }
 .about-list-item{
   position: relative;
    width: 350px;
    height: 350px;
    padding: 120px 48px 48px 47px;
    margin: 15px;
    text-align: center;
    background: #0E8784;
    border-radius: 8px 
 }
 .first::before{
   position: absolute;
   top: 42px;
   left: 130px;
   content: "";
   display: block;
   width:71px;
   height: 72px;
   background-image: url("../images/shape.svg");
 }
 .second::before{
  position: absolute;
  top: 42px;
  left: 130px;
  content: "";
  display: block;
  width: 71px;
  height: 72px;
  background-image: url("../images/gift.svg");
 }
 .third::before{
   position: absolute;
   top: 42px;
   left: 130px;
   content: "";
   display: block;
   width: 71px;
   height: 72px;
   background-image: url("../images/delivered.svg");
 }
 .about-item-title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
 }
 .about-item-desc{
    width: 255px;
    font-style: normal;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
 }

 /*work-procces*/
 .work__procces{
  margin-top: 200px;
 }
 .work__procces__title{
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 32px;
   color: #83888F;
 }
 .work__procces__box{
   position: relative;
 }
 .work__procces__vector{
   display: block;
   width: 790px;
   border: 2px solid #FDD6BA;
 }
 .work__procces__list{
   display: flex;
   align-items: center;
   position: relative;
 }
 .work__procces__list__item{
   margin: 50px;
 }
 .work__procces__list__item:nth-child(1){
   margin-left: 0;
}
.work__procces__list__item::before{
   position: absolute;
   top: -20px;
   display: inline-block;
   width: 31px;
   height: 31px;
   border-radius: 50%; 
   background: #FEFCF7;
   border: 2px solid #0E8784;
   content: "";
}
 .work__list__img{
   margin-top: 67px;
   display: inline-block;
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 72px;
   color: #FDD6BA;
 }
 .work__list__title{
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 36px;
   color: #333D4B;
 }
 .work__list__text{
   width: 285px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #333D4B;
 }
 .work__bottom-link{
   font-style: normal;
   font-weight: 900;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #FEFCF7;
   background: #0E8784;
   border-radius: 6px;
   padding: 15px 31px ;
   display: inline-block;
   margin-top: 64px;
 }

 /*footer*/
 footer{
   margin-top:  200px;
   background: #2C343E;
 }
 .footer__wrapper{
   display: flex;
   align-items: center;
 }
 .footer__list{
   display: flex;
   align-items: center;
   margin-left: 103px ;
 }
 .footer__socials{
   display: flex;
   align-items: center;
   margin-left: 369px ;
 }
 .footer__list-item{
   padding: 53px 29px ;
 }
 .footer__item-link{
   color: #fff;
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   color: #83888F;
 }
 .footer__socials-item{
   padding-left: 24px ;
 }

 /*about html*/
 .intro-wrapper-active{
   background-image: url("../images/intro-img.png");
   background-repeat: no-repeat;
   background-size: cover;
 }
.commit__section{
   margin-top: 168px;
}
.commit__wrapper{
   display: flex;
   align-items: center;
}
.commit__box{
   padding-left: 125px ;
}
.commit__box-title{
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #333D4B;
}
.commit__box-desc{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #333D4B;
   opacity: 0.8;
   width: 540px;
}

.quality__wrapper{
   position: relative;
   margin-top: 158px ;
   background-color: #2C343E;
   display: flex;
   align-items: center;
   padding: 100px 0 100px 85px;
}
.quality__wrapper-title{
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #FEFCF7; 
}
.quality__wrapper-desc{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #FEFCF7;
   opacity: 0.8;
   width: 540px ;
   padding-right: 85px;
}
.quality__wrapper-img{
   position: absolute;
   right: 7%;
   top: -21%;
}

/*our location*/
.our_location{
  margin-top: 85px ;
}
.our__location-title{
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 32px;
   color: #83888F; 
}
.our__location-list{
   position: relative;
   display: flex;
   align-items: center;
   padding-top: 100px;
}
.location__list-item{
   padding-left: 108px;
}
.location__list-item:nth-child(1){
   padding-left: 0;
}
.location__list-item::before{
   position: absolute;
   top: 42px;
   width: 40px;
   height: 49px;
   display: block;
   content:"";
   background-image: url("../images/uk.svg");
   background-repeat: no-repeat;
}
.location__item-title{
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 36px;
   color: #333D4B;
}
.location__item-desc{
   width: 285px; 
}
.location__item-desc-list{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #333D4B;
}
.middle::before{
   position: absolute;
   top: 42px;
   width: 40px;
   height: 49px;
   display: block;
   content:"";
   background-image: url("../images/canada.svg");
   background-repeat: no-repeat;
}
.last::before{
   position: absolute;
   top: 42px;
   width: 40px;
   height: 49px;
   display: block;
   content:"";
   background-image: url("../images/australia.svg");
   background-repeat: no-repeat;
}